.sidebar{
    flex : 3;
    margin: 20px;
    background-color: #f8f8ff;
    padding: 10px;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 600px;
}
.sidebarItem{
        display: flex;
        flex-direction:column ;
        align-items: center;
}
.sidebarUserDetails{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.sidebarUserDetailsItem{
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: #BA135D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sidebarTitle{
    font-family: 'Roboto Slab', serif;
    margin: 20px 10px;
    padding: 7px;
    width: 85%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid #8e929a;
    border-top: 1px solid #8e929a;
}
.sidebarList{
    list-style:none;
    margin-bottom: 30px ;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    /*  width for each item is 50% */
}

.userProfilePicture{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 20px;
}