.create{
   
    padding-top:50px ;
} 
.postImage{
     margin-left: 150px;
     width: 70vw;
     height: 250px;
     border-radius: 10px;
     object-fit: cover;
}

.createInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    font-family: 'Roboto Slab', cursive;
    color: #393e46;
    width: 70vw;
   
}
.createFormGroup{
     margin-left: 150px;
    display: flex;
    align-items: center;
}
.createInput:focus{
    outline:none
}
.createForm{
    position: relative;
}
.createText{
    font-size: 20px;
    font-family: 'Roboto Slab', cursive;
    color: #766161;
    width: 70vw;
  height: 100vh;
  
}
.createPublishButton{
    position: absolute;
    top: 20px;
    right: 50px;
    color: whitesmoke;
    background-color: #00adb5;
    cursor: pointer;
    padding: 7px;
    display: flex;
    border: none;
    font-size: large;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
}

/* .writeImg {
 ;
}

.writeForm {
  
}

.writeFormGroup {
 
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  
  cursor: pointer;
}

.writeInput {
  
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
} */

.colorGrid{
  border: 1px dashed #393e46;
  padding: 10px;
  margin: 30px 30px 30px 150px;
  height: 100px;
  width: 180px;
}
.first{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
.first > div{
  border-radius: 5px;
  cursor: pointer;
}
.second > div{
  cursor: pointer;
  border-radius: 5px;
}
.second{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.firstFirst{
  background-color: #b2b8a3;
  height: 40px;
  width: 40px;
}
.secondFirst{
  background-color: #5e8b7e;
   height: 40px;
  width: 40px;
}
.thirdFirst{
  background-color: #aad8d3;
   height: 40px;
  width: 40px;
}
.firstSecond{
  background-color: #deedf0;
  height: 40px;
  width: 40px;
}
.secondSecond{
  background-color: #f4c7ab;
  height: 40px;
  width: 40px;
}

.thirdSecond{
  background-color: #f1ca89;
  height: 40px;
  width: 40px;
}
