.create{
   
    padding-top:50px ;
} 
.postImage{
     margin-left: 150px;
     width: 70vw;
     height: 250px;
     border-radius: 10px;
     object-fit: cover;
}

.createInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    font-family: 'Roboto Slab', cursive;
    color: #393e46;
    width: 70vw;
   
}
.createFormGroup{
     margin-left: 150px;
    display: flex;
    align-items: center;
}
.createInput:focus{
    outline:none
}
.createForm{
    position: relative;
}
.createText{
    font-size: 20px;
    font-family: 'Roboto Slab', cursive;
    color: #766161;
    width: 70vw;
  height: 100vh;
  
}
.createPublishButton{
    position: absolute;
    top: 20px;
    right: 50px;
    color: whitesmoke;
    background-color: #00adb5;
    cursor: pointer;
    padding: 7px;
    display: flex;
    border: none;
    font-size: large;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
}

/* .writeImg {
 ;
}

.writeForm {
  
}

.writeFormGroup {
 
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  
  cursor: pointer;
}

.writeInput {
  
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
} */